{% extends "base.html" %}
{% block title %}GraphiQL Explorer - Help 2{% endblock %}
{% block content %}
<div class="container my-4">
    <a href="/" class="btn btn-primary">Go back</a>
    <br>
    <br>
    <h1><b>Solution 1: </b>Disable all browser security with a command (always works)</h1>
    <br>
    <p>
        When you first use this tool you will likely get the following error:
        <pre><code>{
    "message": "Failed to fetch",
    "stack": "TypeError: Failed to fetch"
}</code></pre>
        This is because you should not be able to read these responses cross site. The browser is doing its job by not allowing this cross-origin request. 
    </p>
    <p>
        But we actually want to bypass this restriction because we want to be able to interact with any endpoint, whether it was designed for it or not.<br>
        To disable this security we'll need to start the browser with some special arguments. I found that the following works well (in <b>Command Prompt</b>):
    </p>
    <b><code id="command">"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --disable-web-security --user-data-dir="%TEMP%\Chrome" {{ url }}</code></b>
    <button type="button" id="copy-button" class="btn btn-secondary btn-sm" style="margin-left: 2ch;" onclick="navigator.clipboard.writeText(document.getElementById('command').innerText)">Copy</button><br><br>
    <p>
        This command works for Chrome on Windows. You might need to replace some of these values for your own.<br>
        The <code>--disable-web-security</code> is to disable the CORS and other restrictions.<br>
        The <code>--user-data-dir</code> is to make sure we don't do these unsafe things with our actual data and cookies. 
        This will put all data in a temporary directory to make sure it doesn't interfere with your main Chrome.<br>

        <small><a target="_blank" href="https://github.com/fruitcake/laravel-cors/issues/412#issuecomment-663854369">Source</a></small>
    </p>
    <br>
</div>
{% endblock %}